<style>
  html,
  body 
  {
    background: black;
  }
</style>

<link rel="stylesheet" href="/stylesheets/style.css">

<div
  style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 10px; text-transform: capitalize;">
  <a href="" style="letter-spacing: 2px;">
    404, page not found .
  </a>
  <button style=" background-color: green; border-radius: 10px;">
    <a href="/" style="letter-spacing: 1px; text-transform: capitalize;">
      go home
    </a>
  </button>
</div>